<%= form_tag "/new_game" do %>
<p><input type="text" name="hand[p1]" placeholder="Player 1 name"></p>
<p><input type="text" name="hand[p2]" placeholder="Player 2 name"></p>
<input type="submit" value="Start Game!">
<% end %>